/*
This file is part of WebDarts.
WebDarts is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
WebDarts is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
You should have received a copy of the GNU Affero General Public License along with WebDarts. If not, see <https://www.gnu.org/licenses/>. 
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark only;
}

@font-face {
    font-family: 'Coaster';
    src: url('../assets/COASBL__.ttf');
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: Coaster;
    text-transform: uppercase;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}